body{
    background: #0f66d1;
    background: linear-gradient(0deg, rgba(15, 102, 209, 1) 0%, rgba(79, 224, 117, 1) 50%, rgba(255, 239, 92, 1) 100%);
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: black;
}
section{
    display: grid;
    grid-template-columns: 230px 1fr;
    column-gap: 20px;
    align-items: start;
}
img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid blueviolet;
    
    grid-column: 1;
    grid-row: 1 / span 3;
}
section h2,
section p{
    grid-column: 2;
}
